<!DOCTYPE html>
<html>
<head>
  <title>Aeros</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
  <%= stylesheet_link_tag "aeros/application", media: "all" %>
  <%= stylesheet_link_tag "aeros/tailwind", media: "all" %>
  <%= javascript_importmap_tags "aeros/application", importmap: Aeros.importmap %>
</head>
<body>

<%= yield %>

</body>
</html>
