<div class="cp-input-text">
  <%= render Aeno::Primitives::InputWrapper::Component.new(
      label: label,
      helper_text: helper_text,
      error_text: error_text,
      name: name,
      id: id,
      disabled: disabled,
      required: required) do %>
    <input
      type="<%= type || 'text' %>"
      id="<%= id %>"
      name="<%= name %>"
      value="<%= value %>"
      placeholder="<%= placeholder %>"
      autocomplete="<%= autocomplete %>"
      class="cp-input-text__input <%= 'cp-input-text__input--error' if error_text %>"
      <%= 'disabled' if disabled %>
      <%= 'required' if required %>
      <% data.each do |key, val| %>
        data-<%= key.to_s.dasherize %>="<%= val %>"
      <% end %>
    />
  <% end %>
</div>