<div data-controller="aeno--form" data-role="nested" class="w-full <%= css %>" data-aeno--form-wrapper-selector-value="<%= wrapper_selector %>" data-attribute-name="<%= name %>_attributes">
  <% if label %>
    <h3><%= label %></h3>
  <% end %>

  <%# Template for NEW records %>
  <div data-aeno--form-target="template" class="hidden">
    <% if form_builder.object && form_builder.object != false %>
      <%
        association = form_builder.object.class.reflect_on_association(name)
        template_object = association.klass.new
      %>
      <%= form_builder.fields_for(name, template_object, child_index: 'NEW_RECORD') do |nested_builder| %>
        <fieldset disabled>
          <div data-role="nested-item" data-new-record="true">
            <%= render_nested_form(nested_builder) %>

            <div>
              <%= render Aeno::Button::Component.new(
                type: "button",
                label: remove_button_label,
                icon: remove_button_icon,
                variant: :white,
                size: :small,
                data: { action: "aeno--form#remove" }
              ) %>
            </div>
            <% if allow_destroy %>
              <%= nested_builder.hidden_field :_destroy, value: "0" %>
            <% end %>
          </div>
        </fieldset>
      <% end %>
    <% end %>
  </div>

  <%# Existing records with fields_for %>
  <div data-aeno--form-target="target">
    <%
      collection = form_builder.object&.public_send(name) || []
    %>
    <% if collection.any? %>
      <%= form_builder.fields_for(name, collection) do |nested_builder| %>
        <div data-role="nested-item" data-new-record="false">
          <%= render_nested_form(nested_builder) %>

          <div>
            <%= render Aeno::Button::Component.new(
              type: "button",
              label: remove_button_label,
              icon: remove_button_icon,
              variant: :white,
              size: :small,
              data: { action: "aeno--form#remove" }
            ) %>
          </div>
          <% if allow_destroy %>
            <%= nested_builder.hidden_field :_destroy, value: "0" %>
          <% end %>
          <% if nested_builder.object&.id.present? %>
            <%= nested_builder.hidden_field :id %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= render Aeno::Button::Component.new(
    type: "button",
    label: add_label,
    icon: add_button_icon,
    variant: :white,
    size: :small,
    data: { role: "add-nested", action: "aeno--form#add" }
  ) %>
</div>
