<div class="cp-input-select">
  <%= render Aeno::Primitives::InputWrapper::Component.new(
      label: label,
      helper_text: helper_text,
      error_text: error_text,
      name: name,
      id: id,
      disabled: disabled,
      required: required) do %>
    <select
      id="<%= id %>"
      name="<%= name %>"
      class="cp-input-select__select"
      <%= 'disabled' if disabled %>
      <%= 'required' if required %>
      <% data.each do |key, val| %>
        data-<%= key.to_s.dasherize %>="<%= val %>"
      <% end %>
    >
    <% if prompt %>
      <option value=""><%= prompt %></option>
    <% end %>

    <% if collection && value_method && label_method %>
      <% collection.each do |item| %>
        <option value="<%= item.send(value_method) %>" <%= 'selected' if value == item.send(value_method).to_s %>>
          <%= item.send(label_method) %>
        </option>
      <% end %>
    <% elsif options.any? %>
      <% options.each do |option_value, option_label| %>
        <option value="<%= option_value %>" <%= 'selected' if value == option_value.to_s %>>
          <%= option_label %>
        </option>
      <% end %>
    <% else %>
      <% select_options.each do |option| %>
        <%= option %>
      <% end %>
    <% end %>
    </select>
  <% end %>
</div>