<%
  fixed_classes = "fixed top-0 left-0 bottom-0 right-0 w-screen h-screen overflow-hidden"
%>

<!DOCTYPE html>
<html class="<%= fixed_classes %>">
  <head>
    <title>Aeno</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="turbo-refresh-method" content="morph">
    <meta name="turbo-refresh-scroll" content="preserve">

    <%= yield :head %>

    <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags "aeno/application", importmap: Aeno.importmap %>
  </head>
  <body class="<%= fixed_classes %>">
    <!-- Flash/toast container -->
    <div id="flash" class="fixed top-4 right-4 z-50 space-y-4 pointer-events-none"></div>

    <!-- Drawers container -->
    <div id="drawers-container"></div>

    <div class="w-screen h-screen flex">
      <%= ui("sidebar", css: "w-64 border-r border-gray-200 divide-y") do |s| %>
        <% s.with_header do %>
          <div class="p-4">
            <h2 class="text-lg font-semibold">Components</h2>
          </div>
        <% end %>

        <% @components&.each do |component| %>
          <% s.with_item(label: component.titleize, href: showcase_path(component), active: params[:id] == component) %>
        <% end %>

        <% s.with_item(label: "📋 Contacts Example", href: aeno_examples_contacts_path, active: controller_name == "contacts") %>

        <% s.with_footer do %>
          v.0.0.1
        <% end %>
      <% end %>

      <div class="flex-1 overflow-y-auto">
        <%= yield %>
      </div>
      <%= render "aeno/shared/theme_editor" %>
    </div>
  </body>
</html>
